
h1 {
text-align: center;
font-family: Helvetica;
}

body{
  background-image: url(background.png);
  background-repeat: repeat-x repeat-y;
}

#herobutton {
  margin: auto;
  display: block;
  width: 400px;
  height: 200px;
  background-color: #f40404;
  box-shadow: 0px 0px 5px 5px #000000;
  font-family: impact;
  border-radius: 50%;
  color: white;
  font-size: 50px;
}

#playerinfo {
  margin: auto;
  display: block;
  font-family: impact;
  text-align: center;
}

#upbutton {
  margin: auto;
  display: block;
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  font-family: impact;
  font-size: 15px;
}

#clickerbutton {
  margin: auto;
  display: block;
  width: 150px;
  height: 50px;
  background-color: purple;
  color: white;
  font-family: impact;
  font-size: 15px;
}

h2 {
text-align: center;
font-family: Helvetica;
font-size: 40px;
}

/* Tooltip container */
.tooltip {
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  min-width: 10vw;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  z-index: 1;
  margin-left: 56vw;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#powersword {
  width: 35px;
  height: 35px;
  margin: auto;
  text-align: center;
  margin-bottom: 2vw;
}

#clickimg {
  width: 35px;
  height: 35px;
  margin: auto;
  text-align: center;
  margin-bottom: 2vw;
}
